.card-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: relative;
}

.field {
  display: flex;
  gap: 10px;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.edit-btn {
  position: absolute;
  right: 5%;
  top: 5%;
}
